
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	margin:0;
	padding:0;
}
body {
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
    font-size: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ol,ul {
	list-style:none;
}

.cb-slideshow,
.cb-slideshow:after { 
    position: absolute;
    width: 100%;
    height: 90%;
    background-size: contain;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.cb-slideshow li span {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 18s linear infinite 0s;
    -moz-animation: imageAnimation 18s linear infinite 0s;
    -o-animation: imageAnimation 18s linear infinite 0s;
    -ms-animation: imageAnimation 18s linear infinite 0s;
    animation: imageAnimation 18s linear infinite 0s;

}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    height: auto;
    text-align: center;
    opacity: 0;
    color: rgb(255, 255, 255);
    -webkit-animation: titleAnimation 18s linear infinite 0s;
    -moz-animation: titleAnimation 18s linear infinite 0s;
    -o-animation: titleAnimation 18s linear infinite 0s;
    -ms-animation: titleAnimation 18s linear infinite 0s;
    animation: titleAnimation 18s linear infinite 0s;
    border:solid3px blue;
}



.cb-slideshow li .citation,  .cb-slideshow li .adress {
    position: absolute;
    top: 25px;
    width: 100%;
    height:100%;
    text-align: center;
}

.cb-slideshow li .adress {
    position: absolute;
    top: 60%;
    width: 100%;
    height:100%;
    text-align: center;
    padding:0;
}


.cb-slideshow .citation h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    padding: 0;
    color: rgba(255,255,255,0.8);
    text-shadow: -16px 2px 9px rgba(49,49,49,0.6);
    text-align: center;
    letter-spacing: 5px;

}

.cb-slideshow .adress h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    padding: 0;
    margin: 0;
    color: rgb(138, 138, 138);
    text-align: center;
}


.cb-slideshow li:nth-child(1) span {
    width: 100%;
    background-image: url(../img/slider/1.jpg);
    background-repeat: no-repeat;
    background-size: contain;

}
.cb-slideshow li:nth-child(2) span {
    width: 100%;
    background-image: url(../img/slider/2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s; 
}
.cb-slideshow li:nth-child(3) span { 
    width: 100%;
    background-image: url(../img/slider/6.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(4) span {
    width: 100%;
    background-image: url(../img/slider/4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s; 
}
.cb-slideshow li:nth-child(5) span {
    width: 100%;
    background-image: url(../img/slider/5.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(6) span {
    width: 100%;
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url();
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    -o-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s; 
}
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s; 
}
.cb-slideshow li:nth-child(5) div { 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(6) div { 
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    -o-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s; 
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 800px) { 
    body{
        background:rgb(197, 197, 197)

    }
    .cb-slideshow .citation h3 {
        text-shadow: none;
        font-size: 30px;
        text-shadow: 1px 1px 2px rgb(85, 85, 85);

    }

    .cb-slideshow .adress h3 {
        font-size: 30px;
        color: rgb(132, 132, 133)
    }

    .cb-slideshow li .adress {
        top: 70%;

    }

}


@media screen and (max-height: 450px) { 
 
    .cb-slideshow .citation h3 {
        font-size: 30px;
        text-shadow: 1px 1px 2px rgb(85, 85, 85);
    }

    .cb-slideshow .adress h3 {
        font-size: 30px;
        color: rgb(56, 56, 58)
    }


    .cb-slideshow li .citation {
        top: 5%;
    }
    .cb-slideshow li .adress {
        top: 70%;
    }
}

